.containerD08 {
  height: 380px;
  width: 380px;
  border-radius: 0.3rem;
  display: grid;
  place-items: center;
  position: relative;
  flex-direction: column;
  background-color: black;
  color: white;
  aspect-ratio: 1/1;
  filter: contrast(25);
}

.center08 {
  position: absolute;
}

/*Ball*/

.ball08 {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  filter: blur(15px);
}

.ball108 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(123deg);
}

.ball108:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 37px 37px;
  animation: rotate 2.7s ease-in-out infinite;
  animation-delay: 0.2s;
  filter: blur(5px);
}

.ball208 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(8deg);
}

.ball208:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 34px 34px;
  animation: rotate 2.9s ease-in-out infinite;
  animation-delay: 0.4s;
  filter: blur(5px);
}

.ball308 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(192deg);
}

.ball308:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 31px 31px;
  animation: rotate 3.1s ease-in-out infinite;
  animation-delay: 0.6s;
  filter: blur(5px);
}
.ball408 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(170deg);
}

.ball408:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 28px 28px;
  animation: rotate 3.3s ease-in-out infinite;
  animation-delay: 0.8s;
  filter: blur(5px);
}

.ball508 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(93deg);
}

.ball508:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 25px 25px;
  animation: rotate 3.5s ease-in-out infinite;
  animation-delay: 1s;
  filter: blur(5px);
}

.ball608 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(38deg);
}

.ball608:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 22px 22px;
  animation: rotate 3.7s ease-in-out infinite;
  animation-delay: 1.2s;
  filter: blur(5px);
}

.ball708 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(141deg);
}

.ball708:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 19px 19px;
  animation: rotate 3.9s ease-in-out infinite;
  animation-delay: 1.4s;
  filter: blur(5px);
}

.ball808 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(58deg);
}

.ball808:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 16px 16px;
  animation: rotate 4.1s ease-in-out infinite;
  animation-delay: 1.6s;
  filter: blur(5px);
}

/*Ball*/

/*sub-Ball*/

.circle108{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 8px;
  height: 8px;
  transform: rotate(114deg);
}

.circle108::after{
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 58px 58px;
  animation: rotate 3.7s ease-in-out infinite;
  animation-delay: 0.2s;
  filter: blur(3px);
}

.circle208{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 9px;
  height: 9px;
  transform: rotate(280deg);
}

.circle208::after{
  position: absolute;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 56px 56px;
  animation: rotate 3.9s ease-in-out infinite;
  animation-delay: 0.4s;
  filter: blur(3px);
}

.circle308{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 10px;
  height: 10px;
  transform: rotate(293deg);
}

.circle308::after{
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 54px 54px;
  animation: rotate 4.1s ease-in-out infinite;
  animation-delay: 0.6s;
  filter: blur(3px);
}

.circle408{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 11px;
  height: 11px;
  transform: rotate(262deg);
}

.circle408::after{
  position: absolute;
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 52px 52px;
  animation: rotate 4.3s ease-in-out infinite;
  animation-delay: 0.8s;
  filter: blur(3px);
}

.circle508{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 12px;
  height: 12px;
  transform: rotate(300deg);
}

.circle508::after{
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 50px 50px;
  animation: rotate 4.5s ease-in-out infinite;
  animation-delay: 1s;
  filter: blur(3px);
}

.circle608{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 13px;
  height: 13px;
  transform: rotate(138deg);
}

.circle608::after{
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 48px 48px;
  animation: rotate 4.7s ease-in-out infinite;
  animation-delay: 1.2s;
  filter: blur(3px);
}

.circle708{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 14px;
  height: 14px;
  transform: rotate(18deg);
}

.circle708::after{
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 46px 46px;
  animation: rotate 4.9s ease-in-out infinite;
  animation-delay: 1.4s;
  filter: blur(3px);
}

.circle808{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 15px;
  height: 15px;
  transform: rotate(300deg);
}

.circle808::after{
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 44px 44px;
  animation: rotate 5.1s ease-in-out infinite;
  animation-delay: 1.6s;
  filter: blur(3px);
}

.circle908{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 16px;
  height: 16px;
  transform: rotate(77deg);
}

.circle908::after{
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 42px 42px;
  animation: rotate 5.3s ease-in-out infinite;
  animation-delay: 1.8s;
  filter: blur(3px);
}

.circle1008{
  position: absolute;
  top: 38px;
  left: 28px;
  width: 17px;
  height: 17px;
  transform: rotate(117deg);
}

.circle1008::after{
  position: absolute;
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  transform-origin: 40px 40px;
  animation: rotate 5.5s ease-in-out infinite;
  animation-delay: 2s;
  filter: blur(3px);
}


/*sub-Ball*/

/*animation*/
@keyframes rotate {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

/*animation*/
